@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
html{
	scroll-behavior: smooth;
	height: 100%;
}
body{
	background: url(https://i02.appmifile.com/50_bbs_en/13/07/2020/0cd15e2660.png);
	background-size: cover;
	background-position: center;
}
form{
	background: #FFF;
	padding:15px;
	width: 40%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	margin-top: 10em;
	font-family: 'Almarai', sans-serif;
}
form input{
	height: 45px;
	width:100%;
	text-align: center;
	margin-bottom: 7.5px;
	border:0;
	border-bottom: 2px solid #427DD7;
	font-size: 19px;
	outline: none;
	color: rgba(0,0,0,.7);
	font-family: 'Almarai', sans-serif;
	background: rgba(0,0,0,.1);
}
form button{
	width: 100%;
	height: 50px;
	font-size: 18px;
	border-radius: 10px;
	background: #427DD7;
	border:0;
	outline: none;
	font-family: 'Almarai', sans-serif;
	color: #FFF;
}
form span{
	font-family: 'Almarai', sans-serif;
}
@media(max-width:786px){
	form{
		width: 90%;
		margin-top: 5em;
	}
}